Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
certifi @ file:///croot/certifi_1700501669400/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
contourpy==1.2.0
cryptography @ file:///croot/cryptography_1694444244250/work
cycler==0.12.1
debugpy @ file:///croot/debugpy_1690905042057/work
faiss==1.7.3
filelock==3.13.1
fonttools==4.45.1
fsspec==2023.12.2
h5py==3.10.0
huggingface-hub==0.20.3
idna @ file:///croot/idna_1666125576474/work
importlib-resources==6.1.1
joblib==1.3.2
kiwisolver==1.4.5
matplotlib==3.8.2
metric-learn==0.7.0
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
munch==4.0.0
numpy @ file:///croot/numpy_and_numpy_base_1701295038894/work/dist/numpy-1.26.2-cp39-cp39-linux_x86_64.whl#sha256=ab2439928d6a64e481fc12c271cde207be02e933033d4fecde57d3e534b5025c
opencv-python==4.8.1.78
ops==2.9.0
packaging==23.2
Pillow @ file:///croot/pillow_1696580024257/work
pretrainedmodels==0.7.4
protobuf==4.25.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.1.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
pytorch-metric-learning==2.4.1
PyYAML==6.0.1
requests @ file:///croot/requests_1690400202158/work
safetensors==0.4.2
scikit-learn==1.3.2
scipy==1.11.4
six==1.16.0
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
timm==0.9.12
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tqdm==4.66.1
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
urllib3 @ file:///croot/urllib3_1698257533958/work
websocket-client==1.7.0
zipp==3.17.0
